@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  /* base color */
  --edu-primary: #22c55e;
  --edu-secondary: #95a0c5;
  --edu-success: #22c5ad;
  --edu-info: #41cbd8;
  --edu-warning: #ff9f43;
  --edu-danger: #ef4d56;
  --edu-light-gray: #f4f6f9;
  --edu-dark-gray: #2b2d3b;
  --edu-white: #ffffff;

  --edu-primary-bg-opacity: rgba(34, 197, 94, 0.1);
  --edu-secondary-bg-opacity: rgba(149, 160, 197, 0.1);
  --edu-success-bg-opacity: rgba(34, 197, 173, 0.1);
  --edu-info-bg-opacity: rgba(65, 203, 216, 0.1);
  --edu-warning-bg-opacity: rgba(255, 159, 67, 0.1);
  --edu-danger-bg-opacity: rgba(239, 77, 86, 0.1);
  --edu-blue-bg-opacity: rgba(13, 110, 253, 0.1);
  --edu-pink-bg-opacity: rgba(253, 60, 151, 0.1);
  --edu-purple-bg-opacity: rgba(115, 103, 240, 0.1);

  /* hover colors */
  --edu-primary-hover-color: #20bb59;

  /* text colors */
  --text-primary-color: var(--edu-dark-gray);
  --text-secondary-color: #96a0b5;

  /* bg colors */
  --edu-body-bg: #f7f9fb;
  --edu-card-bg: #ffffff;
  --edu-table-heading-bg: #f4f6f9;
  --edu-dropdown-bg: #f4f6f9;
  --edu-dropdown-hover-bg: #e8eaed;

  /* border color */
  --edu-border-color: #e2e7f1;

  /* box shadow */
  --edu-card-shadow: 0 3px 16px rgba(142, 134, 171, 0.05);

  /* form colors */
  --edu-form-label-color: #656d9a;
  --edu-form-valid-color: #7adc9e;
  --edu-form-valid-border-color: #7adc9e;
  --edu-form-invalid-color: #f5949a;
  --edu-form-invalid-border-color: #f5949a;

  /* font sizes */
  --edu-font-sm: 12px;
  --edu-font-base: 14px;
  --edu-font-md: 16px;
  --edu-font-lg: 20px;
  --edu-font-xl: 24px;
  --edu-font-2xl: 30px;

  /* border radius */
  --edu-border-radius-base: 12px;
  --edu-border-radius-sm: 6px;
  --edu-border-radius-full: 100%;
}
